
<!DOCTYE html>
    <html>
    <head>
        <title>Welcome to the Pie Pizzaria</title>
        <link href="~/lib/bootstrap/css/bootstrap.css" rel="stylesheet" />
        <link href="~/site.css" rel="stylesheet" />
    </head>
    <body>
        @RenderBody()
    </body>
</html>
